.App {
    font-family: sans-serif;
    text-align: center;
  }
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    font-family: "Heebo", sans-serif;
  }
  
  .intro {
    background: black;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .slider {
    /*background: rgb(163, 193, 307);*/
    background:radial-gradient(#fff,#ffd6d6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transform: translateY(100%);
  }
  
  .intro-text {
    color: rgb(227, 242, 255);
    font-family: "Heebo", sans-serif;
    font-size: 3rem;
  }
  
  .hide {
    background: black;
    overflow: hidden;
  }
  
  .hide span {
    transform: translateY(100%);
    display: inline-block;
  }
  html, body {
    width: 100%;
    height: 100%;
    background:radial-gradient(#fff,#ffd6d6);
    display: flex;
    justify-content: center;
    align-items: center;
  }

  #container {
    width: 80%;
    height: 550px;

    background-color: #fff;
    border-radius: 10px;
    outline: 1px solid #fff;
    outline-offset: 3px;
    -moz-outline-radius: 10px;

  }

  #title_container {
    width: 100%;
    height: 5%;

    text-align: center;
    float: left;
    margin: 0;

    color: #003049;
    text-transform: uppercase;
    font-family: Verdana;
    font-size: 12px;

    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    margin-bottom: 50px;

    color: #003049;
  }


  #form_container {
    width: 100%;
    height: 50%;

    float: left;
    margin-top: 2px;
    padding-left: 100px;
    padding-right: 100px;

    box-sizing: border-box;
  }

  #form_container * {
    width: 100%;
    height: 30px;

    border: none;
    outline: none;
    border-left: 2px solid #003049;
    background-color: #EBF8FF;
    margin: 0;
    padding: 0;
    text-align: center;

    margin-top: 3px;
    float: left;

  }

  #button_container {
    width: 100%;
    height: 5%;

    text-align: center;
    float: left;
    margin-bottom: 50px;

    font-family: Verdana;

  }

  #submit {
    width: 25%;
    height: 35px;

    background-color: #D62828;
    border-radius: 5px;
    font-weight: bold;
    color: #fff;
    border: none;
    outline: none;
    cursor: pointer;
  }


  #content {
    width: 105px;
    height: 100%;

    margin: 0;
    padding: 0;
    float: left;

    color: #D62828;
    margin-right: 5px;
  }

  .typedtext {
    display: inline-block;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
    border-bottom: 2px solid #D62828;

  }
  